<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header');%>
    
    <main>
       
        <div class="jumbotron">
            <h1>Sobre Mim</h1>
            <p>Isso ae meno, vai que vai ! </p>
        </div>
    </main>
    
    <%- include('../partials/footer'); %>
</body>

</html>